<div class="row">
    <h1>
        Experiencia Laboral
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3> (years)  </h3></li>


        <p>Lorem, ipsum dolor sit amet consectetur
             adipisicing elit. Distinctio, est! Cumque totam 
             aliquam est excepturi animi ipsa. Nam doloremque 
             beatae deleniti nemo totam perspiciatis molestias 
             atque, perferendis cum repudiandae eum.
        </p>



        <li><h1>Trabajo 2</h1> - <h3> (years)  </h3></li>


        <p>Lorem, ipsum dolor sit amet consectetur
             adipisicing elit. Distinctio, est! Cumque totam 
             aliquam est excepturi animi ipsa. Nam doloremque 
             beatae deleniti nemo totam perspiciatis molestias 
             atque, perferendis cum repudiandae eum.
        </p>


        <li><h1>Trabajo 3</h1> - <h3> (years)  </h3></li>


        <p>Lorem, ipsum dolor sit amet consectetur
             adipisicing elit. Distinctio, est! Cumque totam 
             aliquam est excepturi animi ipsa. Nam doloremque 
             beatae deleniti nemo totam perspiciatis molestias 
             atque, perferendis cum repudiandae eum.
        </p>


        </ul>    
 
        
    </div>


</div>