<div class="row">

    <div class="col-xs-12  col-sm-2  col-md-2  col-lg-2">
        <img src="../../../assets/Diseño 3.png" class="img-fluid"  id="fotodeperfil"> 
    </div>

    <div class="col-xs-12  col-sm-2  col-md-2  col-lg-2">
        <p class="nombre">Carlos Felismino</p>
        <p class="nombre4">Fulkl Stack Developer Jr</p>
    </div>

    <div class="col-xs-12  col-sm-8  col-md-8  col-lg-8">
        <span>
            <h1 class="nombre2">Acerca de mi</h1>
            <p class="nombre3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aliquid, cumque repellat debitis aut suscipit autem dicta praesentium voluptatem. Vero quae velit voluptatibus, quibusdam deserunt nam! Molestias eum minima quam!</p>
        </span>
     
    </div>

</div>


