.row{
    padding:  20px;
    width: auto;

}

div{
    background-color: #363636;
    text-align: center;
    
   
}
/* Estilo foto de perfil*/
@media (min-width:400px){
 #fotodeperfil{
   position: relative;
    width: 90%;
    border-radius: 10%;
    box-shadow: 3px 3px 3px rgb(108, 108, 108);
    left: -2%;
    top: -40%;
 }


 
 }  

 @media (max-width:400px){
    #fotodeperfil{
        position: relative;
        width: 90%;
        border-radius: 10%;
        box-shadow: 3px 3px 3px rgb(108, 108, 108);
        left: 10%;
        top: -60%;
    }
   
   
    
    }
    


/*etiqueta nombre*/
.nombre {

    font-size: 20px;
    font-weight: bold;
    color: rgb(246, 243, 243);
    left: 70px;
}
.nombre2{
    color: rgb(246, 243, 243);
}
.nombre3{
    color: rgb(246, 243, 243);
}
.nombre4{
    color: rgb(246, 243, 243);
}


    

